<section class="complex">
  <div class="container">
    <div class="complex__inner">
      <div class="complex__info">
        <h2 class="complex__title title">
          Комплексные решения оснащения столовых
          и кафе
        </h2>
        <p class="complex__text">
          Компания предлагает комплексное оснащение столовых, ресторанов, кафе и баров в Москве. Наши услуги построены
          по
          принципу полного цикла обслуживания предприятий общепита и бизнеса HoReCa.
          Иными словами, мы предлагаем проектирование «под ключ» и постгарантийное обслуживание. География работы
          компании
          охватывает всю страну. При этом в каждом регионе мы готовы предложить демократичные цены на профессиональное
          технологическое оборудование для столовой и оптимальные решения с точки зрения эффективности бизнеса,
          приемлемым
          уровнем производительности в условиях ограниченного бюджета.
        </p>
        <h4 class="complex__subtitle">
          Что мы предлагаем
        </h4>
        <p class="complex__text">
          разработку технологического проекта кухни и производственной линии, дизайна ресторанного интерьера;
          составление меню согласно концепции и оснащения бара (кафе, столовой);
          подбор посуды, текстиля под общий стиль; профессиональное оборудование для кафе, бара и ресторана, большой
          выбор
          современных моделей; доставку в любой регион РФ;
          монтажные и пуско-наладочные работы; автоматизацию производственного процесса, что позволяет определённое
          оборудование для бара;
        </p>
        <a class="complex__link" href="#">+</a>
      </div>
      <div class="complex__info">
        <div class="complex__logo">
          <img class="complex__logo-img" src="img/logo-c.png" alt="логотип">
          <h4 class="complex__logo-title">Столовая.РУ</h4>
          <h6 class="complex__logo-subtitle">создание оптимальных пищеблоков</h6>
        </div>

        <h4 class="complex__headline">Группа компаний</h4>
        <h6 class="complex__subline">Показатели:</h6>
        <ul class="complex__list">
          <li class="complex__item">На рынке: 5 лет</li>
          <li class="complex__item">Объем контрактов: 4 млрд.р.</li>
          <li class="complex__item">Количество контрактов: 620</li>
        </ul>
      </div>
    </div>
  </div>
</section>
