<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__column">
        <h4 class="footer__title">Информация</h4>
        <ul class="footer__list">
          <li class="footer__item">
            <a class="footer__link" href="#"> Компания </a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Портфолио </a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Проектирование </a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Ресторанам </a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Застройщикам </a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Гос.заказчикам </a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Таблет-питание </a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Сервис </a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Новости </a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Контакты </a>
          </li>
        </ul>
      </div>
      <div class="footer__column">
        <h4 class="footer__title">Оборудование</h4>
        <ul class="footer__list">
          <li class="footer__item">
            <a class="footer__link" href="#"> Тепловое</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#"> Холодильное </a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Электромеханическое</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Посудомоечное </a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Барное </a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Хлебопекарное </a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Линии раздачи </a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Нейтральное </a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Для фаст фуда </a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Для залов </a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Весовое</a>
          </li>
        </ul>
      </div>
      <div class="footer__column">
        <h4 class="footer__title">Предложения</h4>
        <ul class="footer__list">
          <li class="footer__item">
            <a class="footer__link" href="#"> Кафе, барам, ресторанам</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#"> Дестким садам и школам</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#"> Таблет-питание</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#"> Для кондитерских</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#"> Для пиццерий</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#"> Для магазинов</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#"> Для воинских частей</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#"> Все предложения</a>
          </li>
        </ul>
      </div>
      <div class="footer__column">
        <h4 class="footer__title">Контакты</h4>
        <ul class="footer__list">
          <li class="footer__item">
            <a class="footer__link" href="tel:84951503171">8 495 150-31-71</a>
            <a class="footer__link" href="tel:88005004344">8 800 500 43 44</a>
            <p class="footer__text">звонок беспланый</p>
          </li>
          <li class="footer__item">
            <p class="footer__text">Пн-Пт</p>
            <p class="footer__text">09:00 до 18:00</p>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="mailto:com@stolovay.ru"> com@stolovay.ru</a>
            <a class="footer__link" href="mailto:info@stolovay.ru"> info@stolovay.ru </a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="mailto:com@stolovay.ru"> com@stolovay.ru</a>
            <a class="footer__link" href="mailto:info@stolovay.ru"> info@stolovay.ru </a>
          </li>
          <li class="footer__item">
            <address class="footer__address">
              <p class="footer__text">111524, Москва, </p>
              <p class="footer__text">Рязанский проспект 24к2</p>
            </address>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="footer__bot">
    <div class="container footer__container">
      <a class="footer__logo" href="#">
        <img src="img/footer-logo.png" alt="логотип">
      </a>
      <a class="footer__bot-link" href="#">Сайт разработан NTI-systems</a>
    </div>
  </div>
</footer>
