<header class="header">

  <nav class="nav" title="navigation">
    <div class="container container--big nav__container">
      <button class="menu-btn">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <a class="logo-mobile" href="#">
        <img src="img/logo-mobile.png" alt="логотп">
      </a>
      <button class="search-mobile"></button>
      <a class="phone-mobile" href="tel:"></a>
      <div class="cart-mobile">
        <span class="cart-mobile__quantity">12</span>
      </div>
      <ul class="nav__list">
        <li class="nav__item">
          <a href="#" class="nav__link">Компания</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">Портфолио</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">Проектирование</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">Ресторанам</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">Застройщикам </a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">Гос.заказчикам </a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">Таблет-питание</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">Сервис</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">Контакты</a>
        </li>
      </ul>
      <a class="nav__contact nav__contact--email" href="mailto:info@stolovay.ru">info@stolovay.ru</a>
      <a class="nav__contact nav__contact--phone" href="tel:84957907205">8 495 790-72-05</a>
    </div>
  </nav>

  <div class="search">
    <div class="container container--big search__container">
      <a class="logo" href="#">
        <img src="img/logo.png" class="image" width="222px" height="40px" alt="логотип">
      </a>
      <div class="search__inner">
        <div class="search__select">Все</div>
        <input class="search__input" type="text">
        <button class="search__btn" type="button"></button>
      </div>
      <a class="header__about" href="#">
        Мы на портале поставщиков
      </a>
      <a class="cart" href="#">
        <div class="cart__quantity">12</div>
        <div class="cart__num">
          <h6 class="cart__title">Сумма</h6>
          <div class="cart__sum">
            150 000 руб.
          </div>
        </div>
      </a>
    </div>
  </div>

  <div class="categories">
    <div class="container container--big">
      <button class="categories__btn">Оборудование</button>
      <ul class="categories__list">
        <li class="categories__item">
          <a class="categories__link" href="#">
            <img class="categories__icon" src="img/categories-1.png" alt="категория товара">
            <h5 class="categories__title">Тепловое</h5>
          </a>
        </li>
        <li class="categories__item">
          <a class="categories__link" href="#">
            <img class="categories__icon" src="img/categories-2.png" alt="категория товара">
            <h5 class="categories__title">Холодильное</h5>
          </a>
        </li>
        <li class="categories__item">
          <a class="categories__link" href="#">
            <img class="categories__icon" src="img/categories-3.png" alt="категория товара">
            <h5 class="categories__title">Электромеханическое</h5>
          </a>
        </li>
        <li class="categories__item">
          <a class="categories__link" href="#">
            <img class="categories__icon" src="img/categories-4.png" alt="категория товара">
            <h5 class="categories__title">Посудомоечное</h5>
          </a>
        </li>
        <li class="categories__item">
          <a class="categories__link" href="#">
            <img class="categories__icon" src="img/categories-5.png" alt="категория товара">
            <h5 class="categories__title">Хлебопекарное</h5>
          </a>
        </li>
        <li class="categories__item">
          <a class="categories__link" href="#">
            <img class="categories__icon" src="img/categories-6.png" alt="категория товара">
            <h5 class="categories__title">Линии раздачи</h5>
          </a>
        </li>
        <li class="categories__item">
          <a class="categories__link" href="#">
            <img class="categories__icon" src="img/categories-7.png" alt="категория товара">
            <h5 class="categories__title">Нейтральное</h5>
          </a>
        </li>
        <li class="categories__item">
          <a class="categories__link" href="#">
            <img class="categories__icon" src="img/categories-8.png" alt="категория товара">
            <h5 class="categories__title">Для фаст фуда</h5>
          </a>
        </li>
        <li class="categories__item">
          <a class="categories__link" href="#">
            <img class="categories__icon" src="img/categories-9.png" alt="категория товара">
            <h5 class="categories__title">Для залов</h5>
          </a>
        </li>
        <li class="categories__item">
          <a class="categories__link" href="#">
            <img class="categories__icon" src="img/categories-10.png" alt="категория товара">
            <h5 class="categories__title">Вспомогательное</h5>
          </a>
        </li>
        <li class="categories__item">
          <a class="categories__link" href="#">
            <img class="categories__icon" src="img/categories-11.png" alt="категория товара">
            <h5 class="categories__title">Для магазинов</h5>
          </a>
        </li>
      </ul>
    </div>
  </div>

</header>
