<section class="news">
  <div class="container">
    <h2 class="news__title title">Новости производителей</h2>
    <div class="news__inner">
      <div class="news__big">
        <article class="news-item news-item--big">
          <a class="news-item__inner" href="#">
            <div class="news-item__images">
              <img class="news-item__img" src="img/news-1.png" alt="новость">
            </div>
            <div class="news-item__info">
              <span class="news-item__author">Abat </span>
              <span class="news-item__date">22.06.17</span>
              <h5 class="news-item__title">
                Новый разборный ротационный пекарский
                шкаф РПШ-18-8-6МР
              </h5>
              <p class="news-item__text">
                Новый разборный ротационный пекарский шкаф РПШ-18-8-6МР: в комплекте тележка-шпилька ТШГ-18 на 18
                уровней 600х800 мм вместимость тележки-шпильки - 135 хлебных форм №7
                инжекционный тип парообразования
                разборная конструкция увеличенное стекло двери.
                Память на 110 программ (до 4-ех этапов в каждой программе)
                USB-порт. Таймер до 10 ч
                Регулировка влажности от 0 до 100%. 5 скоро
              </p>
            </div>
          </a>
        </article>
      </div>
      <div class="news__small">
        <article class="news-item">
          <a class="news-item__inner" href="#">
            <div class="news-item__images">
              <img class="news-item__img" src="img/news-2.png" alt="новость">
            </div>
            <div class="news-item__info">
              <span class="news-item__author">Abat </span>
              <span class="news-item__date">22.06.17</span>
              <h5 class="news-item__title">
                Повышение энергоэффективности туннельных посудомоечных машин МПТ торговой марки Abat
              </h5>
              <p class="news-item__text">
                С целью снижения нагрузки на электрическую сеть и для повышения энергоэффективности изделий с 1 июня
                2017 года был изменен алгоритм работы туннельных посудомоечных машин МПТ торговой марки Abat всех
                моделей...
              </p>
            </div>
          </a>
        </article>
        <article class="news-item">
          <a class="news-item__inner" href="#">
            <div class="news-item__images">
              <img class="news-item__img" src="img/news-3.png" alt="новость">
            </div>
            <div class="news-item__info">
              <span class="news-item__author">Abat </span>
              <span class="news-item__date">22.06.17</span>
              <h5 class="news-item__title">
                Повышение энергоэффективности туннельных посудомоечных машин МПТ торговой марки Abat
              </h5>
              <p class="news-item__text">
                С целью снижения нагрузки на электрическую сеть и для повышения энергоэффективности изделий с 1 июня
                2017 года был изменен алгоритм работы туннельных посудомоечных машин МПТ торговой марки Abat всех
                моделей...
              </p>
            </div>
          </a>
        </article>
        <article class="news-item">
          <a class="news-item__inner" href="#">
            <div class="news-item__images">
              <img class="news-item__img" src="img/news-4.png" alt="новость">
            </div>
            <div class="news-item__info">
              <span class="news-item__author">Abat </span>
              <span class="news-item__date">22.06.17</span>
              <h5 class="news-item__title">
                Повышение энергоэффективности туннельных посудомоечных машин МПТ торговой марки Abat
              </h5>
              <p class="news-item__text">
                С целью снижения нагрузки на электрическую сеть и для повышения энергоэффективности изделий с 1 июня
                2017 года был изменен алгоритм работы туннельных посудомоечных машин МПТ торговой марки Abat всех
                моделей...
              </p>
            </div>
          </a>
        </article>
      </div>
    </div>
    <a class="news__link" href="#">Все новости </a>
  </div>
</section>
