<section class="recomendation">
  <div class="container">
    <h2 class="recomendation__title title">Рекомендуем</h2>
    <h6 class="recomendation__subtitle">
      В этих разделах вы можете получить подробную информацию о пищевом оборудовании
      для столовых, ресторанов и кафе ведущих производителей.
    </h6>
    <div class="recomendation__inner">
      <div class="recomendation__column">
        <div class="recomendation__item recomendation__item--one">
          <h5 class="recomendation__headline">rational</h5>
          <h4 class="recomendation__subject">Пароконвектоматы</h4>
          <p class="recomendation__text">
            Педантичность и преданность своему делу делает продукцию Rational идеальной для тех, кто ищет надежность и
            долговечность.
          </p>
        </div>
      </div>
      <div class="recomendation__column">
        <div class="recomendation__item recomendation__item--two">
          <h5 class="recomendation__headline">Abat</h5>
          <h4 class="recomendation__subject">Тепловое
            оборудование</h4>
          <p class="recomendation__text">
            Более 55 лет успешно работает на рынке торгово-технологического оборудования, по праву занимая лидирующее
            положение в данном сегменте.
          </p>
        </div>
        <div class="recomendation__item recomendation__item--three">
          <h5 class="recomendation__headline">hicold</h5>
          <h4 class="recomendation__subject">Холодильные столы</h4>
          <p class="recomendation__text">
            Многофункциональность оборудования позволяет оптимизировать пространство на кухне, сделать работу персонала
            максимально удобной и эффективной.
          </p>
          <a class="recomendation__link" href="#">Смотреть ></a>
        </div>
      </div>
    </div>
  </div>
</section>
